In [117]:
import pandas as pd

def strip(text):
    try:
        return text.strip()
    except AttributeError:
        return text

data = pd.read_csv('./data/grain.csv', sep=';', encoding='utf-8')


data.head()

,Landgrabbed,Landgrabber,Base,Sector,Hectares,Production,Projected investment,Status of deal,Summary
0,Algeria,Al Qudra,UAE,"Finance, real estate",31000,"Milk, olive oil, potatoes",NaN,Done,Al Qudra Holding is a joint-stock company esta...
1,Angola,CAMC Engineering Co. Ltd,China,Construction,1500,Rice,US$77 million,Done,CAMCE is a subsidiary of the China National Ma...
2,Angola,ENI,Italy,Energy,12000,Oil palm,NaN,In process,The project is a joint venture between Sonango...
3,Angola,AfriAgro,Portugal,"Finance, real estate",5000,Oil palm,US$30-35 million,Done,AfriAgro is a subsidiary of the Portugal-based...
4,Angola,Eurico Ferreira,Portugal,"Energy, telecommunications\n",30000,Sugar cane,US$200 million,Done,"In 2008, Portuguese conglomerate Eurico Ferrei..."

# Trim whitespace

In [101]:
columns = list(data.columns)
columns.remove('Hectares')

for c in columns:
    data[c] = data[c].str.strip()

# Test to see if the stripping worked.
data.groupby('Status of deal').count()

,Landgrabbed,Landgrabber,Base,Sector,Hectares,Production,Projected investment,Summary
Status of deal,,,,,,,,
Done,330,330,330,323,328,300,84,330
Done (50-yr lease),1,1,1,1,1,1,0,1
In process,77,77,77,74,77,73,19,77
MoU signed (2009),1,1,1,1,1,1,1,1
Proposed,3,3,3,3,3,3,0,3
Suspended,3,3,3,3,3,3,1,3
Suspended (October 2011),1,1,1,1,1,1,1,1

In [118]:
a = data['Projected investment']
a.replace(['US\$', ' .*$'], '', regex=True, inplace=True)
        
data.groupby('Projected investment').count()

,Landgrabbed,Landgrabber,Base,Sector,Hectares,Production,Status of deal,Summary
Projected investment,,,,,,,,
"1,240",1,1,1,1,1,1,1,1
"1,500",1,1,1,1,1,1,1,1
"1,876",1,1,1,1,1,1,1,1
1.2/ha/yr,1,1,1,1,1,1,1,1
1.3,1,1,1,1,1,1,1,1
1.6,1,1,1,1,1,1,1,1
10,1,1,1,1,1,1,1,1
100,5,5,5,5,5,5,5,5
111,1,1,1,1,1,1,1,1
12.5,1,1,1,1,1,1,1,1
120,2,2,2,2,2,2,2,2
"125,000/yr",1,1,1,1,1,0,1,1
136,1,1,1,1,1,1,1,1
15,3,3,3,2,3,2,3,3
16.3,1,1,1,1,1,1,1,1
16.7,1,1,1,1,1,0,1,1
160,1,1,1,1,1,0,1,1
166,1,1,1,1,1,1,1,1
18,1,1,1,1,1,1,1,1
"18,400",1,1,1,1,1,1,1,1
2,2,2,2,2,2,2,2,2
"2,500",1,1,1,1,1,1,1,1
20,1,1,1,1,1,1,1,1
200,2,2,2,2,2,2,2,2
204,1,1,1,1,1,1,1,1
205,2,2,2,2,0,0,2,2
21,1,1,1,1,1,1,1,1
23,1,1,1,1,1,1,1,1
250,3,3,3,3,3,3,3,3
251,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...
42,1,1,1,1,1,0,1,1
43,1,1,1,1,1,0,1,1
45.3,1,1,1,1,1,1,1,1
456,1,1,1,1,1,1,1,1
5,3,3,3,3,3,3,3,3
5.49,1,1,1,1,1,1,1,1
50,2,2,2,2,2,2,2,2
500,1,1,1,1,1,1,1,1
53.2,1,1,1,1,1,1,1,1
55,1,1,1,1,1,1,1,1
569,1,1,1,1,1,1,1,1
"57,600",1,1,1,1,1,1,1,1
6.2,1,1,1,1,1,1,1,1
6.4,1,1,1,0,1,1,1,1
6.5,1,1,1,1,1,1,1,1
600,2,2,2,2,2,2,2,2
64,1,1,1,1,1,1,1,1
65,1,1,1,1,1,1,1,1
7,1,1,1,1,1,1,1,1
7.7,1,1,1,1,1,1,1,1
73,1,1,1,1,1,1,1,1
75,1,1,1,1,1,1,1,1
77,2,2,2,2,2,2,2,2
788,1,1,1,1,1,1,1,1
79,1,1,1,1,1,1,1,1
8/ha/yr,1,1,1,1,1,1,1,1
80,1,1,1,1,1,1,1,1
83,1,1,1,1,1,1,1,1
85,1,1,1,1,1,1,1,1
879,1,1,1,1,1,1,1,1